<page-editor>
    <modules-library allowed-modules={opts.pageModules} ref="library" drop-target={refs.pageModules}></modules-library>
    <div class="page-modules page-editor" ref="pageModules">
        <div class="page-modules__module" each={pageModule,index in pageModules}>
            <menu class="page-modules__controls">
                <span class="action action--down" onclick={moveDown} if={index < pageModules.length - 1}></span>
                <span class="action action--up" onclick={moveUp} if={index > 0}></span>
                <span class="action action--remove" onclick={remove}></span>
            </menu>
            <div ref="module" data-is={pageModule.template} content={pageModule}></div>
        </div>
        <a href="#" onclick={saveAndView} class="button button--primary">Speichern und Ansehen</a>
    </div>
    <script>
        import '../ssf-editor.html'
        import './modules-library.html'
        import './module/page-module-content.html'
        import './module/page-module-club-members.html'
        import './module/page-module-map.html'
        import './module/page-module-carousel.html'
        import './module/page-module-gallery.html'
        import './module/page-module-event-registration.html'
        import './module/page-module-event-guestlist.html'
        import './module/page-module-event-navigation.html'
        import './module/page-module-event-header.html'
        import './module/page-module-event-terms.html'
        import arrayMove from 'array-move'
        import { getPageModules, updatePage } from '../../api'
        
        this.modules = []

        this.on('mount', async () => {
            window.addEventListener('beforeunload', function () {
                return true
            })
            this.refs.library.on('received', modules=>{
                this.modules = modules
                this.update()
            })
            this.pageModules = await getPageModules(this.opts.pageId)
            this.update()

            this.refs.library.on('module-added', data=>{
                this.pageModules.push(data)
                this.update()
            })
        })

        async saveAndView(e) {
            await this.save(e)
            location.href = location.href.split('?')[0]
        }

        getModuleContent(module) {
            let moduleFields = module.get ? module.get() : {}
            return Object.assign({}, module.opts.content, moduleFields)
        }

        async save(e) {
            e.preventDefault()
            this.update()
            if (this.refs.module) {
                let modules = this.refs.module.length ? this.refs.module : [this.refs.module]
                this.pageModules.map((item,index)=>{
                    Object.assign(item, this.getModuleContent(modules[index]))
                })
            }
            await updatePage(opts.pageId, this.pageModules)
            
        }

        remove(e) {
            this.pageModules.splice(e.item.index, 1)
        }

        moveDown(e) {
            this.pageModules = arrayMove(this.pageModules, e.item.index, e.item.index+1)
        }

        moveUp(e) {
            this.pageModules = arrayMove(this.pageModules, e.item.index, e.item.index-1)
        }
    </script>
</page-editor>
