<event-list-short>
    <ssf-expander heading="{opts.heading}" max-items="5" expanded-max-items="6" action-label-expanded="Weniger Events" action-label-reduced="Mehr Events">
        <yield to="items">
            <yield></yield>
        </yield>
        <yield to="more">
            10 sind zu wenig? <a href="#">Hier findest Du mehr</a>
        </yield>
    </ssf-expander>
    <script>
        import '../ssf-expander.html'
        import './event-list-item.html'
        
        this.on('mount', ()=>{
            
        })
    </script>
</event-list-short>
