<event-list-item class="event-preview" layout="row" layout-align="start center">
    <a flex-auto href="" layout="row" layout-align="space-between center">
        <img width="64" class="event-preview__logo" src="https://s-s-f.de/images/SSF-LOGO-NOLOGO.png" alt="">
        <span class="event-preview__heading">{opts.title}</span>
        <span class="event-preview__date">{opts.date}</span>
    </a>
    <div flex-end class="actions">
        <a href="#">Edit</a>
    </div>
    <script></script>
</event-list-item>
