<event-list-item class="event-preview">
    <a class="event-preview__division" href="{opts.link}" layout="row" layout-align="space-between center">
        <img width="64" class="event-preview__logo" src="{opts.logo ? opts.logo : 'https://s-s-f.de/images/SSF-LOGO-NOLOGO.png'}" alt="">
        <span class="event-preview__heading">{opts.title}</span>
        <span class="event-preview__date">{opts.date}</span>
    </a>
    <yield></yield>
    <script></script>
    <style>
        :scope {
            display: block;
        }
    </style>
</event-list-item>
