<user-register>
    <div layout="row" layout-align="space-between center">
        <div class="" layout="row" layout-align="center center" flex="100" flex-gt-sm="50">
            <img src="http://localhost:3000/s-s-f.de/site/assets/files/1/logo.0x160.png" alt="">
        </div>
        <div layout="row" layout-align="center center" flex="100" flex-gt-sm="50">
            <div class="g-signin2" data-onsuccess=googleSignIn></div>
        </div>
    </div>
    <form action="" method="post">
        <div class="field-group">
            <label for="username">username</label>
            <input type="text" required name="username" value="{opts.postdata.username}">
        </div>
        <div class="field-group">
            <ssf-species-select></ssf-species-select>
            <input type="text" required name="species" value="{opts.postdata.species}">
        </div>
        <div class="field-group">
            <label for="firstname">firstname</label>
            <input type="text" required name="firstname" value="{opts.postdata.firstname}">
        </div>
        <div class="field-group">
            <label for="lastname">lastname</label>
            <input type="text" required name="lastname" value="{opts.postdata.lastname}">
        </div>
        <div class="field-group">
            <label for="password">password</label>
            <input type="password" required name="password" value="{opts.postdata.password}">
        </div>
        <div class="field-group">
            <label for="password_repeat">password_repeat</label>
            <input type="password" required name="password_repeat" value="{opts.postdata.password_repeat}">
        </div>
        <div class="field-group">
            <label for="email">email</label>
            <input type="email" name="email" value="{opts.postdata.email}">
        </div>
        <div layout="row">
            <div class="field-group">
                <label for="street">street</label>
                <input type="text" required name="street" value="{opts.postdata.street}">
            </div>
            <div class="field-group">
                <label for="zip">zip</label>
                <input type="text" required name="zip" value="{opts.postdata.zip}">
            </div>
            <div class="field-group">
                <label for="city">city</label>
                <input type="text" required name="city" value="{opts.postdata.city}">
            </div>
            <div class="field-group">
                <label for="country">country</label>
                <input type="text" required name="country" value="{opts.postdata.country}">
            </div>
        </div>
        <div class="field-group">
            <label for="birthday">birthday</label>
            <input type="date" name="birthday" value="{opts.postdata.birthday}">
        </div>

        <input type="submit" value="Register">
    </form>
    <script>
    import '../user/ssf-species-select.html'

    window.api.google.on('signIn', (user)=>{
        console.log(user)
        var x=  user.getBasicProfile()
        console.log(x);
    })

    this.on('mount', ()=>{
    })

    </script>
</user-register>
