<user-messages>
    <div>
        <a href="#inbox" class="button button--primary">Posteingang</a>
        <a href="#outbox" class="button button--primary">Gesendet</a>
        <a href="#compose" class="button button--primary">Nachricht verfassen</a>
    </div>
    <div if={activeRoute != 'compose'} class="message-list">
        <table>
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Datum</th>
                    <th>Empfänger</th>
                    <th>Sender</th>
                </tr>
            </thead>
            <tbody>
                <tr each={message in messages} class="message-list__message { message.read ? 'message-list__message--read' : 'message-list__message--unread'}">
                    <td><a href="#{activeRoute}/{message.id}">{message.title}</a></td>
                    <td>{getFormattedDate(parseInt(message.created))}</td>
                    <td>{message.receiver}</td>
                    <td>{message.sender}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <user-message-send ref="messagesend"></user-message-send>
    <div if={messageShown} class="card card--light content--padded">
        <h2>{messageShown.title}</h2>
        <hr>
        <p>Erhalten am: {getFormattedDate(parseInt(messageShown.created))}</p>
        <raw content={messageShown.text}></raw>
    </div>
    <script>
        import route from 'riot-route'
        import format from 'date-fns/format'
        import './user-message-send.html'
        import '../raw.html'
        import {readMessage, getMessages} from '../../api'

        getFormattedDate(date) {
            return format(date, 'DD.MM.YYYY HH:mm:ss')
        }

        const COMPOSE_RETURN_ROUTE = 'inbox'

        this.activeRoute = 'inbox'

        route('inbox', async (name)=>{
            this.messageShown = false
            this.activeRoute = 'inbox'
            this.messages = await getMessages(api.user.name, 'inbox')
            this.refreshUnreadMessagesCount()
            this.update()
        })

        route('inbox/*', async (id)=>{
            this.activeRoute = 'inbox'
            this.messageShown = this.getMessageById(id)
            await readMessage(api.user.name, id)
            this.messageShown.read = 1
            this.refreshUnreadMessagesCount()
            this.update()
        })

        route('outbox', async ()=>{
            this.messageShown = false
            this.activeRoute = 'outbox'
            this.messages = await getMessages(api.user.name, 'outbox')
            this.update()
        })

        route('outbox/*', async (id)=>{
            this.activeRoute = 'outbox'
            this.messageShown = this.getMessageById(id)
            this.update()
        })

        route('compose', async (id)=>{
            this.refs.messagesend.open()
            this.activeRoute = 'compose'
            this.update()
        })

        getMessageById(id) {
            if (id) {
                return this.messages.find(message=>message.id == parseInt(id))
            }
        }

        refreshUnreadMessagesCount() {
            let amount = this.messages.filter(message=>!message.read).length
            api.user.track.trigger('messages-read', amount)
        }

        this.getReadMessages

        this.on('mount', async ()=>{
            route(this.activeRoute)
            route.start(true)
            this.refs.messagesend.on('sent', (id)=>{
                route(COMPOSE_RETURN_ROUTE)
            })
        })
    </script>
</user-messages>
