<user-register>
    <h2>Registrierung</h2>
    <form action="" method="post">
        <h3>Anmeldedaten</h3>
        <div layout="row" layout-align="space-between">
            <label flex="30" class="field-group">
                <span class="field-group__label field-group__label--primary">Nickname</span>
                <input oninput={update} class="field-group__input" ref="username" type="text" required name="username" value="{opts.postdata.username}">
            </label>
            <label flex="30" class="field-group">
                <span class="field-group__label field-group__label--primary">Email</span>
                <input placeholder="deine@e.mail" class="field-group__input" type="email" name="email" value="{opts.postdata.email}">
            </label>
            <label flex="30" class="field-group">
                <span class="field-group__label field-group__label--primary">Passwort</span>
                <input class="field-group__input" type="password" required name="password" value="{opts.postdata.password}">
            </label>
        </div>
        <ssf-species-select name="species" val={opts.postdata.species}></ssf-species-select>
        <h3>Personendaten</h3>
        <p class="notification notification--warning">
            Damit Du an Events teilnehmen kannst, benötigen wir Deinen Namen, Dein Geburtsdatum und Deine Adresse.<br>
            Diese Daten sind <strong>nicht öffentlich zugänglich</strong> und werden ausschließlich für die Registrierung bei Events verwendet.
        </p>
        <div layout="row" layout-align="space-between">
            <label flex="45" class="field-group">
                <span class="field-group__label field-group__label--primary">Vorname</span>
                <input class="field-group__input" type="text" required name="firstname" value="{opts.postdata.firstname}">
            </label>
            <label flex="45" class="field-group">
                <span class="field-group__label field-group__label--primary">Nachname</span>
                <input class="field-group__input" type="text" required name="lastname" value="{opts.postdata.lastname}">
            </label>
        </div>
        <ssf-map-editor street={opts.postdata.street} city="{opts.postdata.city}" zip="{opts.postdata.zip}" country="{opts.postdata.country}" ref="address"></ssf-map-editor>
        <label class="field-group">
            <span class="field-group__label field-group__label--primary">Geburtsdatum</span>
            <ssf-datepicker class-name="field-group__input" name="birthdate" options={dataInput} required ref="date" value="{opts.postdata.birthdate}"></ssf-datepicker>
        </label>
        <input type="hidden" id="_post_token" name="{CSRFToken}" value="{CSRFValue}"/>
        <p class="notification notification--warning">
            Mit der Registrierung auf der Webseite des Südstaatenfurs Vereins stimme ich der Speicherung und automatischen Verarbeitung
            meiner Daten zu. Zu diesen Daten gehören Name, Vorname, Anschrift, Pseudonym, E-Mail-Adresse und das Geburtsdatum. Erläuterung
            hierzu in der <a href="{api.url}datenschutz">Datenschutzerklärung</a>.
        </p>
        <div class="actions">
            <input type="submit" class="button button--primary" value="Registrieren">
        </div>
    </form>
    <script>
        import './ssf-species-select.html'
        import '../ssf-datepicker.html'
        import '../ssf-map-editor.html'

        this.dataInput = {
            dateFormat: 'd.m.Y',
            allowInput: true,
            defaultDate: new Date().getTime()-60*60*24*365*18*1000,
            locale : {
                firstDayOfWeek: 1,
            }
        }
    </script>
</user-register>
