<event-pages-editor>
    <h2>Seiten</h2>
    <p>Hier kannst Du Seiten anlegen und diese verwalten.</p>
    <p class="notification notification--warning">Die Inhalte kannst Du erst nach dem Erstellen des Events bearbeiten</p>
    
    <div layout="row" layout-align="start">
        <div flex="30" class="role card card--light" each={page in pages}>
            <div style="width: 100%;" class="actions" layout="row" layout-align="end end">
                <button onclick={deletePage}>X</button>
            </div>
            <div onclick={select} class="icon-card">
                <input oninput={updateTitle} class="icon-card__title" value={page.title}>
                <img onclick={updateTemplate} class="icon-card__image icon-card__editable" src="{page.image}">
            </div>
        </div>
        <div flex="30" class="role card card--light" layout="column" layout-align="center center">
            <div onclick={createPage} class="icon-card icon-card__image" layout="column" layout-align="center center">
                <span class="icon-card__title">Neue Seite</span>
                <span>+</span>
            </div>
        </div>
    </div>
    <ssf-dialog ref="dialog" size="large" heading="Wähle ein Template">
        <div layout="row" layout-align="center center">
            <div class="icon-card icon-card__editable" layout="column" layout-align="center center" onclick={parent.parent.selectTemplate} each={template, name in parent.templates}>
                <span class="icon-card__title">{template.title}</span>
                <img class="icon-card__image" src="{template.image}">
            </div>
            {template.summary}
        </div>
    </ssf-dialog>
    <script>
        import '../../ssf-dialog.html'
        import {getTemplates} from '../../../api'
        
        this.on('mount', async ()=>{
            this.templates = await getTemplates()
            this.pages = this.opts.pages || [...this.templates]
            if (this.opts.pages) {
                this.pages.map(page=>{page.initial = true})
            } else {
                this.pages.map(page=>{page.initial = false})
            }
            this.update()
        })
        
        updateTemplate(e) {
            this.pageToUpdate = e.item.page
            this.refs.dialog.open()
        }

        selectTemplate(e) {
            this.pageToUpdate.image = e.item.template.image
            this.pageToUpdate.pageModules = e.item.template.pageModules
            this.refs.dialog.close()
            this.update()
        }
        
        updateTitle(e) {
            e.item.page.title = e.target.value
        }
        
        createPage(e) {
            this.pages.push({
                title: 'Page',
                image: this.templates[0].image,
                pageModules: 'arr',
                summary: 'arr',
            })
        }
        
        deletePage(e) {
            e.preventDefault()
            this.pages.splice(this.pages.findIndex(page=>page.title==e.item.page.title), 1)
        }
    </script>
    <style type="text/less">
        @import "src/less/variables.less";
        
    </style>
</event-pages-editor>
