<event-duration-editor>
    <div layout="row" layout-align="center center">
        <div flex-gt-sm="80" flex-gt-lg="50">
            <label class="field-group" flex="100" flex-gt-sm="45" layout="column">
                <div flex-nowrap class="field-group__label field-group__label--primary" layout="row">
                    <span flex="50">Startdatum</span>
                    <span flex="50">Enddatum</span>
                </div>
                <ssf-datepicker class-name="field-group__input" name="date" required ref="date" options={rangeOptions}></ssf-datepicker>
            </label>
            <div layout="row">
                <label class="field-group" flex="100" flex-gt-sm="50">
                    <span class="field-group__label field-group__label--primary">Startzeit</span>
                    <ssf-datepicker class-name="field-group__input" name="end" ref="startTime" options={timeOptions}></ssf-datepicker>
                </label>
                <label class="field-group" flex="100" flex-gt-sm="50">
                    <span class="field-group__label field-group__label--primary">Endzeit</span>
                    <ssf-datepicker class-name="field-group__input" name="end" ref="endTime" options={timeOptions}></ssf-datepicker>
                </label>
            </div>
        </div>
    </div>
    <script>
        import '../../ssf-datepicker.html'
        import rangePlugin from 'flatpickr/dist/plugins/rangePlugin'

        this.rangeOptions = {
            mode: 'range',
            dateFormat: 'd.m.Y',
            allowInput: true,
            locale : {
                firstDayOfWeek: 1,
            },
            plugins: [new rangePlugin()]
        }
        console.log(this.rangeOptions);
        this.timeOptions = {
            allowInput: true,
            enableTime: true,
            noCalendar: true,
            time_24hr: true,
            defaultHour: 14,
        }
    </script>
</event-duration-editor>
