<event-tickets-editor>
    <div layout="row" layout-align="space-between start">
        <div flex="100" flex-gt-md="45">
            <h3>Plätze</h3>
            <input type="hidden" name="limit" value={limit}>
            <event-ticket-limit-slider ref="limit"></event-ticket-limit-slider>
        </div>
        <div flex="100" flex-gt-md="45">
            <h3>Eintrittskosten</h3>
            <input type="hidden" name="price" value={price}>
            <event-ticket-price-slider ref="price"></event-ticket-price-slider>
        </div>
    </div>
    <div layout="column" layout-align="center center">
        <h3>Einnahmen durch Con-Fee</h3>
        <p>{moneyFormat.to(this.limit*this.price)}</p>
    </div>
    <br>
    <script>
        import './event-ticket-price-slider.html'
        import './event-ticket-limit-slider.html'
        import {moneyFormat} from '../../../constants'
        // import '../../ssf-rangeslider.html'
        this.limit = 20
        this.price = 10

        this.moneyFormat = moneyFormat

        this.on('mount', ()=>{

            this.refs.limit.on('change', (event)=>{
                this.limit = parseInt(event)
                this.update()
            })
            this.refs.price.on('change', (event)=>{
                this.price = parseFloat(event)
                this.update()
            })
        })
    </script>
</event-tickets-editor>
