<event-pages-editor>
    <h2>Seiten</h2>
    <div layout="row" layout-align="space-between" class="pages">
        <ssf-item-editor
            edit-item-label="Item Bearbeiten"
            ref="item"
            each={item,index in pages}
            item={item}
            class="item"
            flex="100" flex-gt-sm="45" flex-gt-md="30">
            <yield to="actions">
                <button onclick={editItem}>E</button>
                <button onclick={parent.removeItem}>&times;</button>
            </yield>
            <yield to="content">
                <div>AAA</div>
            </yield>
            <yield to="editor">
                <div layout="row" layout-align="space-between">
                    <div flex-gt-sm="45">
                        <label class="field-group">
                            <span class="field-group__label field-group__label--primary">Name</span>
                            <input class="field-group__input" oninput={parent.parent.editName} type="text" name="name" value={opts.item.name} required>
                        </label>
                    </div>
                    <div flex-gt-sm="45">
                        <fieldset>
                            <label for="price">
                                Optionen
                                <small>Zum Beispiel bei T-shirts: S, M, L und XL</small>
                            </label>
                            <input type="checkbox" {checked: opts.item.variantsActive} onchange={parent.parent.checkOptions}>
                        </fieldset>
                        <div if={opts.item.variantsActive}>
                            <div each={option in opts.item.variants}>
                                <input type="text">
                            </div>
                            <div onclick={parent.parent.addOption}>+</div>
                        </div>
                    </div>
                </div>
            </yield>
        </ssf-item-editor>
        <div flex="100" flex-gt-sm="45" flex-gt-md="30" class="pages__add" onclick={addItem}>
            +<br>
            Neue Seite anlegen
        </div>
        <article flex="100" flex-gt-sm="45" flex-gt-md="30"></article>
    </div>
    <script>
        import '../../ssf-item-editor.html'
        import '../../ssf-toggle.html'
        import {getPageModules} from '../../../api'

        this.templates = [
            {
                name : '',
            }
        ]

        this.pages = [
            {
                name: 'Home',
                template: '',
                removable: false,
            },
            {
                name: 'Registrierung',
                template: '',
                removable: false,
            },
            {
                name: 'Gästeliste',
                template: '',
                removable: false,
            },
            {
                name: 'Anfahrt & Kontakt',
                template: '',
                removable: true,
            }
        ]

        addItem() {
            this.pages.push({
                name: '',
                sellPrice: 35,
                buyPrice: 65,
                variants: [],
                variantsActive: false,
                included: false
            })
            this.one('updated', ()=>{
                this.refs['item'][this.pages.length - 1].editItem()
            })
            this.update()
        }

        removeItem(e) {
            e.preventDefault()
            console.log(e.item.index);
            this.pages.splice(e.item.index, 1)
            this.update()
        }

        editName(e) {
            e.item.item.name = e.target.value
            this.update()
        }

        editSellPrice(e) {
            e.parent.opts.item.sellPrice = e.refs.slider.value
            this.update()
        }

        editBuyPrice(e) {
            e.parent.opts.item.buyPrice = e.refs.slider.value
            this.update()
        }

        checkOptions(e) {
            e.item.item.variantsActive = !e.item.item.variantsActive
            this.update()
        }

        addOption(e) {
            e.item.item.variants.push('')
            this.update()
        }
    </script>
    <style type="text/less">
        @import "src/less/variables.less";
        .pages__add {
            padding: 0 4em;
            min-height: 5em;
            border: 1px solid @color-primary;
            border-radius: .25em;
            text-align: center;
            display: flex;
            align-content: center;
            align-pages: center;
            cursor: pointer;
            margin-bottom: 1em;
        }
    </style>
</event-pages-editor>
