<event-items-editor>
    <div layout="row" layout-align="start">
        <div flex="30" class="role card card--light" each={item in items}>
            <div style="width: 100%;" class="actions" layout="row" layout-align="end end">
                <button onclick={deleteItem}>X</button>
            </div>
            <div onclick={select} class="icon-card">
                <input oninput={updateTitle} class="icon-card__title" value={item.title}>
                <img onclick={updateImage} class="icon-card__image icon-card__editable" src="{item.image}">
            </div>
            <div layout="row" layout-align="space-between">
                <label flex="45" class="field-group">
                    <span class="field-group__label field-group__label--primary">Einkaufspreis</span>
                    <input oninput={updateBuyPrice} class="field-group__input" maxlength="4" type="number" ref="buyPrice" value={item.buyPrice}>
                </label>
                <label flex="45" class="field-group">
                    <span class="field-group__label field-group__label--primary">Verkaufspreis</span>
                    <input oninput={updateSellPrice} class="field-group__input" maxlength="4" type="number" ref="sellPrice" value={item.sellPrice}>
                </label>
            </div>
            <label class="field-group">
                <span class="field-group__label field-group__label--primary">Beschreibung</span>
                <textarea oninput={updateSummary} class="field-group__input">{item.summary}</textarea>
            </label>
        </div>
        <div flex="30" class="role card card--light" layout="column" layout-align="center center">
            <div onclick={createItem} class="icon-card icon-card__image" layout="column" layout-align="center center">
                <span class="icon-card__title">Neues Item</span>
                <span>+</span>
            </div>
        </div>
    </div>
    <ssf-dialog ref="dialog" size="large">
        <div layout="row" layout-align="center center">
            <div class="icon-card" layout="column" layout-align="center center" onclick={parent.parent.selectImage} each={image, name in api.images}>
                <img class="icon-card__image icon-card__editable" src="{image}">
            </div>
        </div>
    </ssf-dialog>
    <script>
        import '../../ssf-dialog.html'
        import { getDefaultItems } from '../../../api'
        this.on('mount', async ()=>{
            this.items = await getDefaultItems()
            this.update()
        })
        
        updateImage(e) {
            this.itemToUpdate = e.item.item
            this.refs.dialog.open()
        }
        
        selectImage(e) {
            this.itemToUpdate.image = e.item.image
            this.refs.dialog.close()
            this.update()
        }
        
        updateTitle(e) {
            e.item.item.title = e.target.value
        }
        
        updateBuyPrice(e) {
            e.item.item.buyPrice = e.target.value
        }
        
        updateSellPrice(e) {
            e.item.item.sellPrice = e.target.value
        }
        
        updateSummary(e) {
            e.item.item.summary = e.target.value
        }
        
        createItem(e) {
            this.items.push({
                title: 'Item',
                image: api.images.default,
                buyPrice: 2,
                sellPrice: 2,
                included: false,
                summary: 'Ein neues item! Beschreibe was es bietet',
            })
        }
        
        deleteItem(e) {
            this.items.splice(this.items.findIndex(item=>item.title==e.item.item.title), 1)
        }
    </script>
</event-items-editor>