<event-duration-editor>
    <div layout="row" layout-align="space-between end">
        <label class="field-group" flex="100" flex-gt-sm="30" layout="column">
            <span class="field-group__label field-group__label--primary">Datum</span>
            <ssf-datepicker class-name="field-group__input" name="date" required ref="date" options={rangeOptions}></ssf-datepicker>
        </label>
        <label class="field-group" flex="100" flex-gt-sm="30">
            <span class="field-group__label field-group__label--primary">Start Zeit</span>
            <ssf-datepicker class-name="field-group__input" name="end" ref="startTime" options={timeOptions}></ssf-datepicker>
        </label>
        <label class="field-group" flex="100" flex-gt-sm="30">
            <span class="field-group__label field-group__label--primary">End Zeit</span>
            <ssf-datepicker class-name="field-group__input" name="end" ref="endTime" options={timeOptions}></ssf-datepicker>
        </label>
    </div>
    <script>
        import '../../ssf-datepicker.html'
        import rangePlugin from 'flatpickr/dist/plugins/rangePlugin'

        this.rangeOptions = {
            mode: 'range',
            allowInput: true,
            locale : {
                firstDayOfWeek: 1,
            },
            plugins: [new rangePlugin()]
        }
        console.log(this.rangeOptions);
        this.timeOptions = {
            allowInput: true,
            enableTime: true,
            noCalendar: true,
            time_24hr: true,
            defaultHour: 14,
        }
    </script>
</event-duration-editor>
