<event-sponsorship-editor>
    <h2>Sponsorenlevel</h2>
    <p>Hier kannst du definieren, ab welchem Betrag Goodies enthalten sind.</p>
    <div class="sponsorlevels" layout="row">
        <div flex="25" class="sponsorlevels__menu" layout="column">
            <div onclick={selectSponsorLevel} class="sponsorlevels__menu-item {sponsorlevel.name == selectedSponsorLevel.name ? 'sponsorlevels__menu-item--selected' : ''}" each={sponsorlevel in sponsorlevels}>
                {sponsorlevel.name}
                <span if={sponsorlevel.name == selectedSponsorLevel.name}></span>
            </div>
            <div class="sponsorlevels__menu-item" onclick={addSponsorLevel}>
                +
            </div>
        </div>
        <div flex="75" class="sponsorlevels__form content content--padded">
            <input oninput={editName} type="text" value={selectedSponsorLevel.name}>
            <div class="field-group" layout="row">
                <label for="buyPrice">Mindestpreis:
                    <event-item-price-slider onupdate={parent.parent.minPrice} ref="minPrice" options={{start: opts.item.minPrice}}></event-item-price-slider>
                </label>
            </div>
            <ssf-editor inline></ssf-editor>
        </div>
    </div>
    <script>
        import '../../ssf-editor.html'
        import './event-item-price-slider.html'
        import {DEFAULT_SPONSORLEVELS} from '../../../constants'
        

        this.sponsorlevels = DEFAULT_SPONSORLEVELS

        this.selectedSponsorLevel = this.sponsorlevels[0]

        addSponsorLevel() {
            // let nameExists = this.sponsorlevels.filter(level=>level.name=='Supporter')
            this.sponsorlevels.push({
                name: 'Supporter',
                minPrice: 20,
                summary: 'Danke für deine Unterstützung! Dich erwartet ein kleines Dankeschön'
            })
        }
        
        editName(event) {
            this.selectedSponsorLevel.name = event.target.value
        }
        removeItem(e) {
            e.preventDefault()
            console.log(e.item.index);
            this.items.splice(e.item.index, 1)
            this.update()
        }
        
        addOption(e) {
            e.item.item.variants.push('')
            this.update()
        }
        
        selectSponsorLevel(event) {
            this.selectedSponsorLevel = event.item.sponsorlevel 
        }

        this.on('mount', ()=>{
            
        })
    </script>
    <style type="text/less">
        @import "src/less/variables.less";
        
        .sponsorlevels {
            background-color: @color-light;
        }
        .sponsorlevels__menu {
            background-color: @color-primary-light;
            
            &-item {
                padding: 1em;
                cursor: pointer;
                background-color: @color-primary-light;
                &:hover {
                    background-color: @color-primary;
                }
            }
            
            &-item--selected {
                background-color: @color-light;
            }
        }
        
        
        .sponsorlevels {
            box-shadow: 0 0 .125em @color-dark-shadow;
        }
        
    </style>
</event-sponsorship-editor>
