<event-roles-editor>
    <h2>Items</h2>
    <div layout="row">
        <div flex="100" flex-gt-sm="33" each={item,index in roles}>
            <div onclick={removeItem}>&times;</div>
            <fieldset layout="row">
                <label for="name">Name:</label> <input type="text" name="name" value={item.name}>
            </fieldset>
            <fieldset layout="row">
                <label for="description">Preis:</label> <input type="text" name="description" value={item.description}>
            </fieldset>
            <label for="description">Optionen?</label> <input type="checkbox" {checked: item.optionsActive} onchange={checkOptions}>
        </div>
        <div class="roles__add" onclick={addItem}>+</div>
    </div>
    <script>
        this.roles = [
            {
                name: 'Badge',
                description: 2,
                options: [],
                optionsActive: false
            }
        ]
        addItem() {
            this.roles.push({
                name: 'Fursuiter',
                description: 'As fursuiter',
            })
        }

        removeItem(e) {
            this.roles.splice(e.item.index, 1)
        }
    </script>
    <style type="text/less">
        @import "src/less/variables.less";
        .roles__add {
            padding: 0 4em;
            min-height: 5em;
            border: 1px solid @color-primary;
            border-radius: .25em;
            text-align: center;
            display: flex;
            align-content: center;
            align-items: center;
            cursor: pointer;
        }
    </style>
</event-roles-editor>
