.site__container {
    padding: 4em 0;
    margin: 0 auto;
    width: 70%;
}

.site__logo {
    line-height: 0;
    margin-bottom: 1em;
    &::after {
        content: '';
        display: block;
        height: .25em;
        width: calc(~'100% - 2px');
        background: linear-gradient(to top, @color-primary 50%, @color-dark 50%);
        border: 1px solid @color-dark;
    }
    img {
        height: 80px;
    }
}

.site__title {
    font-family: @font-heading;
    font-size: 4em;
    line-height: 80px;
}

.noUi-connect {
    background-color: @color-primary;
}

.noUi-target {
    margin: 3em 0 4em;
}

.noUi-tooltip {
    min-width: 6.5em;
}
