.site {
    &__container {
        padding: 2em 0;
        margin: 0 auto;
        width: 70%;
    }

    &__logo {
        line-height: 0;
        margin-bottom: 1em;
        position: relative;
        &::after {
            content: '';
            display: block;
            height: .25em;
            width: calc(~'100% - 2px');
            background: linear-gradient(to top, @color-primary 50%, @color-dark 50%);
            border: 1px solid @color-dark;
        }
        img {
            height: 80px;
        }
    }

    &__title {
        position: absolute;
        font-family: @font-heading;
        font-size: 4em;
        line-height: 1;
        bottom: 0;
        padding-left: .25em;
    }

    &__content {
        padding: 2em 1em;
        border-radius: 0 0 .1em .1em;
        box-shadow: 0 0 .2em @color-dark-shadow;
        // border: 1px solid @color-primary-light;
        background-color: @color-background;
    }

    &__footer {
        box-shadow: 0 0 .2em @color-dark-shadow;
        color: @color-light;
        background-color: @color-dark;
        padding: 2em 1em;
    }
}

.noUi-connect {
    background-color: @color-primary;
}

.noUi-target {
    margin: 3em 0 4em;
}

.noUi-tooltip {
    min-width: 6.5em;
}

.form-legend {
    margin: 1em 0;
    input[type="submit"] {
        margin: 0;
    }
}

.field-group {
	display: flex;
	margin: 1em 0;
	> label {
        padding: .25em .5em;
        background-color: fadeout(@color-primary-light, 20%);
        min-width: 10em;
        word-break: break-all;
		display: block;
		padding-right: 1em;
        small {
            display: block;
        }
	}
	&--centered {
		> label {
			flex: 0 0 50%;
		}
        > input {
            flex: 1;
            width: 100%;
        }
	}
}

.text-or {
    margin: 2em 0;
    line-height: 0.5;
    text-align: center;
    text-transform: uppercase;
    color: lighten(@color-dark, 20%);
    span {
        display: inline-block;
        position: relative;
        text-align: center;
        &:before,
        &:after {
            content: "";
            position: absolute;
            height: 5px;
            border-bottom: 1px solid black;
            top: 0;
            width: 100%;
        }
        &:before {
            right: 100%;
            margin-right: 1em;
        }
        &:after {
            left: 100%;
            margin-left: 1em;
        }
    }
}

.heading {
    &--menu {
        background-color: @color-primary-light;
        padding: .25em;
    }
    &--underlined {
    	display: inline-block;
        margin-bottom: 0;
    	&:after {
    		margin-top: .25em;
    		content: '';
    		height: 2px;
    		display: block;
    		background: linear-gradient(to right, transparent 10%, @color-primary-dark 10%, @color-primary-dark 90%, transparent 90%);
    	}
    }
}

.text {
    &--centered {
        text-align: center;
    }
}


.image--fit-cover {
    width: 100%;
    height: initial;
    object-fit: cover;
    object-position: center;
}
.event-list {
    &__event {
        border-radius: @radius-small;
        margin: 1em;
        background-color: @color-primary-light;
    }
}

.event {
    &__column {
        padding: .5em;
    }
    &__column + &__column {
        border-left: 1px solid @color-primary-dark;
    }
}
