<event-create>
    <event-editor ref="editor"></event-editor>
    <script>
        import './event-editor.html'

        this.on('mount', ()=>{
            this.refs.editor.on('submit', (data)=>{
                this.createEvent(data)
            })
        })

        this.createEvent = async (data) => {
            var response = await fetch('/s-s-f.de/api/events/', {method: 'POST', body: JSON.stringify(data)})
            var x = await response.text()
            console.log(x);
        }

    </script>
</event-create>
