<ssf-suggestioninput>
    <input autocomplete="off" value="{opts.val}" pattern=".\{0,\}" name={opts.name} class="field-group__input" type="text" ref="input" oninput={needSuggestions} onfocus={showSuggestions} onblur={hideSuggestions}>
    <ssf-dropdown limited orientation="left" ref="dropdown">
        <ssf-pawloader if={parent.loading}></ssf-pawloader>
        <div class="dropdown__item" each={field in parent.suggestedData} onclick={parent.parent.setInput}>
            <raw content="{parent.parent.opts.getResultHtml ? parent.parent.opts.getResultHtml(field) : field}"></raw>
        </div>
    </ssf-dropdown>
    <div>
    </div>
    <script>
        import './ssf-pawloader.html'
        import './ssf-dropdown.html'
        import './raw.html'
        import debounce from 'debounce'
        
        showSuggestions(event) {
            event.preventDefault()
            this.refs.dropdown.trigger('open')
        }

        hideSuggestions() {
            console.log('hide suggestions');
            setTimeout(() => {
                this.refs.dropdown.trigger('close')
            }, 150);
        }

        this.suggestedData = []
        this.previousInput = ''
        this.loading = false
        this.suggestions = this.opts.suggestions || []

        this.on('mount', ()=>{
        })

        this.on('mount,update',()=>{
            this.suggestions = this.opts.suggestions
        })

        this.suggest = (suggestions) => {
            this.suggestions = suggestions || []
            let value = this.refs.input.value
            if (value.length) {
                this.suggestedData = this.suggestions.filter(item=>{
                    return ~item.toLowerCase().indexOf(value.toLowerCase())
                })
            } else {
                this.suggestedData = []
            }
            this.loading = false
            this.update()
        }

        needSuggestions() {
            this.refs.dropdown.trigger('open')
            this.loading = true
            this.requireSuggestions()
        }
        
        this.requireSuggestions = debounce(
            ()=>{
                if (this.refs.input.value.length) {
                    this.suggest(this.suggestions)
                    // if 
                    console.log(`${this.previousInput} - ${this.refs.input.value}`)
                    if (!~this.refs.input.value.indexOf(this.previousInput) || !this.previousInput.length) {
                        this.trigger('suggest', this.refs.input.value)
                    }
                }
                this.previousInput = this.refs.input.value 
            }, 
            250
        )
        

        setInput(e) {
            this.refs.input.value = e.item.field
            this.hideSuggestions()
            this.trigger('select', e.item.field)
        }

        getInput() {
            return this.refs.input.value
        }
    </script>
    <style>
        :scope {
            position: relative;
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    </style>
</ssf-suggestioninput>
