<ssf-dialog>
    <div if={dialog.isVisible} class="dialog__backdrop fade {show : dialog.isVisible}" onclick={close}></div>
    <div class="dialog dialog--{dialog.size} fade {show : dialog.isVisible}" tabindex="-1" role="dialog">
        <div ref="content" class="dialog__content {dialog.type ? 'notification notification--'+dialog.type : ''}" role="document">
            <header class="dialog__header">
                <h5 class="dialog__title">{dialog.heading}</h5>
                <button type="button" class="close" onclick={close} aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </header>
            <div class="dialog__body">
                <yield>
            </div>
            <footer class="dialog__footer">
                <button each="{ dialog.buttons }" type="button" class="button { 'button--' + type }" onclick="{ action }" style="{ style }">
    				{ text }
    			</button>
            </footer>
        </div>
    </div>

	<script>
        Object.assign(this, this.opts)
        setup() {
            let dialog = {
                isVisible: this.opts.visible == '' || this.dialog.isVisible || false,
                size: this.opts.size || this.dialog.size || 'medium',
                type: this.opts.type || this.dialog.type || false
            }
            Object.assign(this.dialog, opts.dialog, dialog)
        }

        this.dialog = {
            isVisible: false,
            heading: '',
        }

		this.on('mount', () => {
            this.dialog.isVisible = this.opts.visible == '' || false
            this.setup()
            if (this.dialog.isVisible) {
                this.open()
            }
		})

        this.on('update', () => {
            this.setup()
            this.trigger('recalculate')
		})

        this.on('recalculate', ()=>{
            // this.refs.content.style.height = this.refs.content.offsetHeight
        })

		this.close = () => {
            document.body.style.overflow = 'visible'
			this.dialog.isVisible = false
            this.update()
			this.trigger('closed')
		}

		this.open = () => {
            document.body.style.overflow = 'hidden'
			this.dialog.isVisible = true
            this.update()
            this.trigger('opened')
		}
	</script>

    <style type="text/less">
        @import "src/less/variables.less";

	</style>

</ssf-dialog>
