<ssf-pawloader>
    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="485px" height="209px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 482 208" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Layer_x0020_1">
            <g class="paw" id="_1775237593648">
                <path class="fil0" d="M49 61c-1,1 -31,29 -31,29 -29,17 -14,-24 -14,-28 0,-13 -13,-45 15,-30 9,4 33,19 30,29z"/>
                <path class="fil0" d="M83 16c-12,18 -52,37 -53,5 0,-29 67,-25 53,-5z"/>
                <path class="fil0" d="M86 103c-12,13 -70,13 -52,-18 15,-25 61,9 52,18z"/>
                <path class="fil0" d="M104 16c-12,-1 -23,3 -22,16 4,47 81,-10 22,-16z"/>
                <path class="fil0" d="M106 89c-12,2 -23,-1 -23,-14 1,-47 82,4 23,14z"/>
            </g>
            <g class="paw" id="_1775237598896">
                <path class="fil0" d="M158 157c0,1 -32,27 -33,27 -29,15 -12,-25 -11,-30 1,-12 -10,-45 17,-29 8,6 31,22 27,32z"/>
                <path class="fil0" d="M196 114c-14,17 -55,34 -53,1 1,-28 68,-20 53,-1z"/>
                <path class="fil0" d="M193 202c-13,11 -71,8 -51,-22 17,-24 60,13 51,22z"/>
                <path class="fil0" d="M216 116c-12,-2 -23,1 -23,14 1,47 82,-4 23,-14z"/>
                <path class="fil0" d="M214 189c-12,1 -23,-3 -22,-16 4,-47 81,10 22,16z"/>
            </g>
            <g class="paw" id="_1775237597104">
                <path class="fil0" d="M293 61c0,1 -31,29 -31,29 -29,17 -14,-24 -14,-28 1,-13 -13,-45 16,-30 8,4 32,19 29,29z"/>
                <path class="fil0" d="M327 16c-12,18 -52,37 -52,5 -1,-29 67,-25 52,-5z"/>
                <path class="fil0" d="M330 103c-11,13 -70,13 -51,-18 15,-25 60,9 51,18z"/>
                <path class="fil0" d="M348 16c-12,-1 -23,3 -22,16 4,47 81,-10 22,-16z"/>
                <path class="fil0" d="M350 89c-11,2 -23,-1 -23,-14 1,-47 82,4 23,14z"/>
            </g>
            <g class="paw" id="_1775237601296">
                <path class="fil0" d="M403 157c-1,1 -33,27 -33,27 -30,15 -13,-25 -12,-30 1,-12 -10,-45 17,-29 9,6 31,22 28,32z"/>
                <path class="fil0" d="M440 114c-14,17 -54,34 -53,1 1,-28 69,-20 53,-1z"/>
                <path class="fil0" d="M437 202c-13,11 -71,8 -50,-22 16,-24 59,13 50,22z"/>
                <path class="fil0" d="M460 116c-11,-2 -23,1 -23,14 1,47 82,-4 23,-14z"/>
                <path class="fil0" d="M458 189c-12,1 -23,-3 -22,-16 4,-47 81,10 22,16z"/>
            </g>
        </g>
    </svg>
    <style type="text/less">
        @import "src/less/variables.less";
    
        svg {
            height: 2em;
        }
        
        .fil0 {
            fill: @color-dark;
        }
        
        .paw {
            animation-name: walking;
            animation-duration: 1s;
            animation-timing-function: ease-out;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-fill-mode: both;
            fill-opacity: 0;

            &:nth-child(1) {
                animation-delay: -.25s * 1;
            }
            &:nth-child(2) {
                animation-delay: .25s * 0;
            }
            &:nth-child(3) {
                animation-delay: .25s * 1;
            }
            &:nth-child(4) {
                animation-delay: .25s * 2;
            }
        }
        @keyframes walking {
            0% {
                fill-opacity: 0;
            }
            75% {
                fill-opacity: 0;
            }
            100% {
                fill-opacity: 1;
            }
        }
    </style>
</ssf-pawloader>