<ssf-dropzone>
    <form drop={prepareFiles} class="dropzone" ref="dropzone" style="background-image: url({!multiple && fileData.length ? fileData[0].data : '' })">
        <label for="file" class="dropzone__label">
            Wähle ein Bild aus, oder ziehe es in die Box
        </label>
        <input id="file" class="dropzone__input" onchange={prepareFiles} type="file" name="files[]" multiple />
        <div if={fileData.length && multiple}>
            {fileData.length} Dateien hochladen
        </div>
    </form>
    <div if={show && multiple} each={file in fileData}>
        <img width="128" src="{file.data}" alt="{file.file.name}">
        {file.file.name} - {file.file.size / 1000} KB
    </div>
    <script>

        this.files = []
        this.fileData = []
        this.multiple = this.opts.multiple == ''
        this.show = this.opts.show == ''
        console.log(this.opts);
        this.on('mount', ()=>{
            let methods = 'drag dragstart dragend dragover dragenter dragleave drop'.split(' ')
            methods.map(
                method=>this.refs.dropzone.addEventListener(
                    method,
                    ()=>{
                        event.preventDefault()
                        event.stopPropagation()
                    }
                )
            )
        })

        prepareFiles(event) {
            let files = event.target.files || event.dataTransfer.files
            if (!this.opts.multiple) {
                files = [files[0]]
            }
            this.files = files
            this.fileData = []
            files.map(file=>{
                const reader = new FileReader()
                reader.onload = (e)=>{
                    this.fileData.push(
                        {
                            file: file,
                            data: e.target.result
                        }
                    )
                    this.trigger('prepared', {data: this.fileData, files: files})
                    this.update()
                }

                reader.readAsDataURL(file);
            })
        }
    </script>
</ssf-dropzone>
