<ssf-carousel>
    <div class="carousel" ref="carousel">
        <yield>
    </div>
    <script>
        import Flickity from 'flickity'
        this.on('mount', ()=>{
            this.options = {}
            this.initCarousel()
        })

        initCarousel() {
            let options = Object.assign(
                {
                    wrapAround: true,
                    cellSelector: '.carousel__item',
                    autoPlay: 6000,
                    prevNextButtons: false,
                    update: true,
                },
                this.opts.options
            )
            this.options = options
            this.carousel = new Flickity(this.refs.carousel, options)

        }

        this.on('updated', ()=>{
            if (this.options.update) {
                this.carousel && this.carousel.destroy()
                this.initCarousel()
            }
        })
    </script>
</ssf-carousel>
