<ssf-dropdown
    class="dropdown dropdown--orientation-{opts.orientation || 'right'} {open ? 'dropdown--open' : '' }"
    onmouseover={resetCloseTimer} onmouseout={startCloseTimer}>
    <yield>
    <script>
        this.on('mount', () => {
            this.dropdownItems = Array.from(this.root.querySelectorAll('.dropdown__item'))
            this.open = false || this.opts.open
            this.update()
        })

        const SELECTED = 'dropdown__item--selected'
        const TIMEOUT = 1e3

        resetCloseTimer() {
            console.log('resetCloseTimer');
            clearTimeout(this.closeTimer)
        }

        startCloseTimer() {
            console.log('startCloseTimer');
            this.closeTimer = setTimeout(() => {
                if (!this.getSelectedNode()) {
                    this.close()
                }
            }, TIMEOUT);
        }

        open() {
            this.open = true
            this.setBindings()
            this.update()
            this.trigger('opened')
        }

        close() {
            this.open = false
            this.deselect()
            this.clearBindings()
            this.update()
            this.trigger('closed')
        }

        toggle() {
            this.open ? this.open() : this.close()
        }

        navigateUp() {
            let selectedIndex = this.getSelectedIndex()
            this.deselect()
            selectedIndex > 0 ?
                this.select(selectedIndex - 1) :
                this.select(this.dropdownItems.length-1)
        }

        navigateDown() {
            let selectedIndex = this.getSelectedIndex()
            this.deselect()
            selectedIndex < this.dropdownItems.length - 1 ?
                this.select(selectedIndex + 1) :
                this.select(0)
        }

        select(nodeIndex) {
            this.dropdownItems[nodeIndex].classList.add(SELECTED)
        }

        deselect() {
            this.dropdownItems.map(item=>item.classList.remove(SELECTED))
        }

        getSelectedIndex() {
            return this.dropdownItems
                .map(item=>item.classList.contains(SELECTED))
                .findIndex(item=>item)
        }

        getSelectedNode() {
            return ~this.getSelectedIndex() ? this.dropdownItems[this.getSelectedIndex()] : false
        }

        this.on('open', this.open)
        this.on('close', this.close)
        this.on('toggle', this.toggle)

        setBindings() {
            this.bindings = addEventListener('keydown', this.navigateDropdown)
        }

        clearBindings() {
            removeEventListener('keydown', this.navigateDropdown)
        }

        navigateDropdown(event) {
            this.dropdownItems = Array.from(this.root.querySelectorAll('.dropdown__item'))
            switch (event.which) {
                case 13: //Enter
                    this.getSelectedNode().click()
                    event.preventDefault()
                    break
                case 38: // Up
                    this.navigateUp()
                    event.preventDefault()
                    break
                case 40: // Down
                    this.navigateDown()
                    event.preventDefault()
                    break
                case 27: // Escape
                    this.trigger('close')
                    break
            }
        }
    </script>
    <style type="text/less">
        @import "src/less/variables.less";

    </style>
</ssf-dropdown>
