<ssf-datepicker>
    <div layout="row">
        <input placeholder="03.04.2018" value={opts.val} name="{opts.name}" class="{opts.className}" required="{required}" ref="datepicker">
    </div>
    <script>
        import extend from 'extend'
        import flatpickr from 'flatpickr'
        this.date = 0
        this.required = opts.required == ''
        this.on('mount', ()=>{
            this.options = {
                onChange: (selectedDates)=>{
                    this.date = selectedDates
                    this.trigger('picked', selectedDates)
                },
                onOpen: function(selectedDates){
                    if (this.hourElement && this.minuteElement) {
                        this.setDate(`${this.hourElement.value}:${this.minuteElement.value}`)
                    }
                }
            }
            extend(true, this.options, this.opts.options)
            this.datepicker = new flatpickr(this.refs.datepicker, this.options)
        })
    </script>
</ssf-datepicker>
