$breakpoints: (
    (sm, 640px)
    (md, 960px)
    (lg, 1280px)
);

$ie: false;

$features: (
  'layout'
  'flex'
  'layout-align'
  'visibility'
);

// Features for each breakpoint
$breakpoint-features: (
  'flex'
  'order'
  'visibility'
);

$layout-gutter-width: 1em;

$flex-step: 5;
$flex-steps: (100 / $flex-step);

@import '~flexproperties/src/flex-grid.scss'
